.Animate_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100em;
  z-index: 100000;
  background: #f2f2f2;
  margin: 0 auto;
}


.Animate_bg2{
  
  margin: 0 auto;
  width: 70%;
  margin-top: 10em;
  text-align: center;
/*  animation : fadein 2s;
  -webkit-transition: opacity 2s ease-in infinite;
  -moz-transition:    opacity 2s ease-in infinite;
  -o-transition:      opacity 2s ease-in infinite;
  -ms-transition:     opacity 2s ease-in infinite;
  transition:         opacity 2s ease-in infinite;*/
}



.spinner {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
  z-index: 10000;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



/*----------------------------------------*/



.path1 {
  stroke-dasharray: 18.46;
  stroke-dashoffset: 100  ;
  animation: dash1 2s ease-in-out infinite;
  opacity: 1;
}

.path1-2 {
  stroke-dasharray: 18.46;
  stroke-dashoffset: 100  ;
  animation: dash1 2s ease-in-out infinite;
  opacity: 1;
}


.path2 {
  stroke-dasharray: 22;
  stroke-dashoffset: 1000  ;
  animation: dash2 2s ease-in-out infinite;
  opacity: 1;
}

.path2-2 {
  stroke-dasharray: 22;
  stroke-dashoffset: 1000  ;
  animation: dash2 2.5s ease-in-out infinite;
  opacity: 1;
}

.path3 {
  stroke-dasharray: 339;
  stroke-dashoffset: 678;
  animation: dash3 2s ease-in-out infinite;
  opacity: 1;
}

.path3-2 {
  stroke-dasharray: 339;
  stroke-dashoffset: 678;
  animation: dash3 4s ease-in-out infinite;
  opacity: 1;
}

.path3-3 {
  stroke-dasharray: 339;
  stroke-dashoffset: 678;
  animation: dash3 6s ease-in-out infinite;
  opacity: 1;
}



@keyframes dash1 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 37;
  }
}

@keyframes dash2 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 44;
  }
}

@keyframes dash3 {
  from {
    stroke-dashoffset: 678;
  }
  to {
    stroke-dashoffset: 0;
  }
}