html,body{
	height:100%;
	background: #00aeff;
		-webkit-animation: opacity_02 2s ease 0s 1 alternate;
		-moz-animation: opacity_02 2s ease 0s 1 alternate;
		-o-animation: opacity_02 2s ease 0s 1 alternate;
		animation: opacity_02 2s ease 0s 1 alternate;
}
		@keyframes opacity_02{
		    0% { opacity: 0 ; }
		  100% { opacity: 1; }
		}
		@-moz-keyframes opacity_02{
		    0% { opacity: 0 ; }
		  100% { opacity: 1; }
		}
		@-webkit-keyframes opacity_02{
		    from { opacity: 0 ; }
		  	  to { opacity: 1; }
		}
		@-o-keyframes opacity_02{
		    from { opacity: 0 ; }
		  	  to { opacity: 1; }
		}

.containerx{
	background: linear-gradient(180deg, #00aeff, #000000);
	background-size: 400%;
	min-height: 100%;
	min-width:100%;
	height:100%;
	
	margin:0, auto;
	padding:0;


		-webkit-animation: gra_bg 9s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
		-moz-animation: gra_bg 9s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
		animation: gra_bg 9s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
		@-webkit-keyframes gra_bg {
		    0%{background-position:54% 0%}
		    50%{background-position:47% 100%}
		    100%{background-position:54% 0%}
		}
		@-moz-keyframes gra_bg {
		    0%{background-position:54% 0%}
		    50%{background-position:47% 100%}
		    100%{background-position:54% 0%}
		}
		@keyframes gra_bg { 
		    0%{background-position:54% 0%}
		    50%{background-position:47% 100%}
		    100%{background-position:54% 0%}
		}

.Text_M0
{
	height:60%;

	text-align:center;

}
.Text_M{
	/*Center*/
	display:flex;
	align-items:center;
    justify-content:center;
	
	text-align:center;

	height:100%;
	color:white;
	font-size:5em;
	font-family: 'Dosis', sans-serif;
}


.Text_M2{
	display: inline;
	Font-size:.2em;
	font-family:'Dosis', sans-serif;
	margin: 0, auto;

}

.Text_M3{
	color:white;
	margin-bottom:20%;
    flex-direction:column;
	display:inline-block;
	font-size:1em;
	font-family:'Dosis', sans-serif;
	margin: 0, auto;
}