@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


body{
	background: #ccc;
}

.navbar{
	background: rgba( 255, 255, 255, .7);
}

.article-title{
	font-size: 4em; 
	display:block; 
	/*margin: -10em 5em 7em -3%;*/
	padding:0;
	color:#3399FF;
	font-family:'DIN Next Slab','Dosis', sans-serif;
}

.article-content{
	font-size: 1.5rem;
	line-height: 2;
	text-align: justify;
	text-justify:inter-ideograph;
}

.row{
	overflow: hidden;
	height:600px;
	position: relative;
	top:50px;
  	display: flex;
  	align-items:center;
}
.col-3{
	width:27%;
}

font-family: 'DIN Next Slab Medium'
font-family: 'DIN Next Slab'
font-family: 'DIN Next Slab Ultra Light'