@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


body{
	background: #FFF;
}

.navbar{
	background: rgba( 255, 255, 255, .7);
}

.article-title{
	text-decoration: underline;
	z-index: 5;
	font-size: 3em; 
	display:block; 
	/*margin: -10em 5em 7em -3%;*/
	padding:0;
	color:#3366CC;
	font-family:'Roboto Slab' ,'Dosis', sans-serif;
}

.article-content{
	font-size: 1.5rem;
	line-height: 2;
	text-align: justify;
	text-justify:inter-ideograph;
}

.row{
	overflow: hidden;
	height:35em;
	position: relative;
	top:2em;
  	display: flex;
  	align-items:center;
}
.col-3{
	width:30%;
	float:right;
	padding-right:1em;
}

#logo-loop{
	display: block;
	position:absolute;
	width:5em;
	z-index: 6;
	margin: .2em;

}

<i class="fa fa-facebook" aria-hidden="true"></i>