@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
	background: #ccc;
}

.navbar{
	background: rgba( 255, 255, 255, .7);
}

.article-title{
	font-size: 4em; 
	display:block; 
	/*margin: -10em 5em 7em -3%;*/
	padding:0;
	color:#3399FF;
	font-family:'Dosis', sans-serif;
}

.article-content{
	font-size: 2rem;
	line-height: 2;
	text-align: justify;
	text-justify:inter-ideograph;
}
