
@media screen and ( max-width: 766px ) {

	.TopBar{
		position: fixed;
		/*max-width:1200px;*/
		transform:translateY(120%);
		width: 70%;
		z-index: 15;
		margin-top:5em;
		margin-bottom:10em;
	}
	.logomask{
		display:none;
	}

	.youtubeframe{
		width: 100%;
		height: 18em;
	}

	.aa{
		display:none;
	}
	.imgbig{
		display: none;
	}
	.imgsmall{
		width:100%;
	}

/*	#fotorama {
		data-thumbheight:10;
	}*/
}
@media screen and ( min-width: 767px ) {

	.TopBar{
		/*margin:0 auto;*/
		width: 100%;
		/*max-width: 1500px;*/
		height: 100px;
		padding: 2em 0em 0 2em;
		margin-bottom: -2em;
		position:absolute;
		z-index: 15;
	}
	.youtubeframe{
		width: 100%;
		height: 40em;
	}
	
	.imgbig{
		width: 100%;
	}
	.imgsmall{
		display:none;
	}
/*	#fotorama {
		data-thumbheight:100;
	}
*/
}

.about_text{
	float: right;
	color: black; 
	font-size: 1.4em; 
	line-height: 2; 
	width: 500px;
	hyphens: auto;
	
	text-align: justify;
	text-justify: inter-ideograph;
	-ms-text-justify: inter-ideograph; /*IE9*/
	-moz-text-align-last:justify; /*Firefox*/
	-webkit-text-align-last:justify; /*Chrome*/
}
.about_title{
	font-size: 2em;
	color: black;
	font-weight: 700;

}


.collection_text{
	color: #333; 
	font-size: 1em; 
	line-height: 1.8;
	margin-left: .8em;
	margin-bottom: 4em;
	font-weight: 500;
	letter-spacing: 3px;
}

.collection_a{
	margin-right: .8em;
	font-weight: 700;
	color: #205da5;
	letter-spacing: 2px;
	text-decoration: underline;
}

.blog_box{
	font-size: 1em; 
	padding: 5px;
	border: 1px solid #333;

}
.blog_icon{
	background: url(../img/icon/blog_icon-02-02.svg);
	width: 62px;
	height: 36px;
	display: inline-block;
}

#icon_s{
	margin-right: .8em;
	font-size: 24px;
	color: #999;

}


@media screen and ( min-width: 767px ) {

	#icon_s{
	margin-right: 1.2em;
	font-size: 24px;
	color: #999;
	}

	#icon_s:hover{
		color: #333;
	}
}

/*logo hover浮出字*/

.logo{
	margin: 2em 0 0 -1em;
	display: inline-block;

}
.nonxo{
	
	/*border: 1px solid rgba(0, 0, 0, .2 ); */
	padding: .7em 2em .6em 2em;
	color: rgba(0,0,0,1);
	/*text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;*/
}

.logomask h5{
	color: rgba(0, 0, 0, 1 );;
	background: white; 
	padding: .7em 2em .6em 2.2em;
	/*border: 1px solid rgba(0, 0, 0, .2 );*/
	font-weight:700;
}



	.logomask,.logo{
		position:absolute;
		top: 0;
		left: 0;

	}
	.logohover .logomask{
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   filter: alpha(opacity=0);
	   opacity: 0;
	   background-color: rgba(0,0,0, 0);
	   -webkit-transition: 	all .3s ease;
	   -moz-transition: 	all .3s ease;
	   -o-transition: 		all .3s ease;
	   -ms-transition: 		all .3s ease;
	   transition: 			all .3s ease;
	}

	.logohover a:hover .logomask{
	   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	   filter: alpha(opacity=100);
	   opacity: 1;
	}
	/*logo hover浮出字*/

	.bar_item li{
		display: inline;
		list-style: none;
		margin:1em;

	}

	.iconaa{
		width:100%;
		padding:0;
		margin:0;
	}
	ul{
		padding:0;

	}

	.bar_item h5{
		/*border: 1px solid white;*/
		background: white;
		margin:0 ;
		padding: .3em 1em .2em 1em;
	}
	.bar_item h5:hover{
		
		/*border: 1px solid rgba(0, 0, 0, .2 );*/
		padding: .3em 1em .2em 1em;
		opacity:1;
		background-color: rgba(0,0,0, 1	);
		color:white;
		
		transition: 			all .5s ease;
			-webkit-transition: all .5s ease;
			-moz-transition: 	all .5s ease;
			-o-transition: 		all .5s ease;
			-ms-transition: 	all .5s ease;
	   
	}

	.bar_item{
		float:right;

	}
}
{}
@media screen and ( min-width: 767px ) {

	.fadedown{
		color: white;
		width: 100%;
		height: 100%;
		background: rgba( 0, 0, 0, 1);
		font-size: 2em;
		opacity: 0;
		padding: .5em 3em 0 .7em;
		

		/*mix-blend-mode: darken;*/
	}

	.fade-inout{
		position: absolute;
		width: 100%;
		height: auto;
		overflow: hidden;
		-webkit-transition: all 0.4s;
        transition: all 0.4s;
        -moz-transform:scale(1.03);
		-webkit-transform:scale(1.03);
		-o-transform:scale(1.03);
		-ms-transform:scale(1.03);
		transform:scale(1.03);
	}

	.fade-inout:hover {
		opacity: .4;
		-moz-transform:scale(1.08);
		-webkit-transform:scale(1.08);
		-o-transform:scale(1.08);
		-ms-transform:scale(1.08);
		transform:scale(1.08);


	}
	
	.grid__item .fadedown:hover{

			opacity:1;
			
			transition: 			all 0.5s ease;
				-webkit-transition: all 0.5s ease;
				-moz-transition: 	all 0.5s ease;
				-o-transition: 		all 0.5s ease;
				-ms-transition: 	all 0.5s ease;
				/*filter:blur( .2em);*/
	}
}





	.index_img{
		overflow: hidden;
		display: inline-block;
	}
	.index_img img {

		width: 50%;
		overflow: hidden;
	}
	.overlay, .overlay2{
		width: 50%;
		float: right;
		display: inline-block;
	}

	h8 { 
		display:none; 
	}

	.index_title{
		display: none;
	}
	

	.index_img:hover img {
		width: 50%;
		overflow: hidden;
	}

@media screen and ( min-width: 768px ) {


	.index_img {

	    position: relative;
	    overflow: hidden;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
	}


	.overlay {

		
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background-color: rgba( 0, 0, 0, .6);
	    opacity: 0;
		
	    -webkit-transition: all 0.4s ease;
	    -moz-transition: all 0.4s ease;
	    -o-transition: all 0.4s ease;
	    transition: all 0.4s ease;

	}

	#overlay_a{
		-webkit-transition: all 0.8s ease;
	    -moz-transition: all 0.8s ease;
	    -o-transition: all 0.8s ease;
	    transition: all 0.8s ease;
	    transform: translateX( -10px);
	}
	
	#overlay_a:hover{
		transform: translateX( 0px);
	}

	#overlay_b{
		-webkit-transition: all .4s ease;
	    -moz-transition: all .4s ease;
	    -o-transition: all .4s ease;
	    transition: all .4s ease;
	    transform: translateY(-290px);
	}
	
	#overlay_a:hover ~ #overlay_b{
		transform: translateY(-275px);
		
	}



	.overlay2 {

		
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background-color: rgba( 255,255,255, .9);
	    opacity: 0;
		
	    -webkit-transition: opacity 0.4s ease;
	    -moz-transition: opacity 0.4s ease;
	    -o-transition: opacity 0.4s ease;
	    transition: opacity 0.4s ease;
	}

	.overlay3:hover {
		z-index: 155;
	  -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;

    box-shadow: rgba(100, 116, 108, 0.2) 0px 2px 2px,
                rgba(100, 116, 108, 0.2) 0px 4px 4px,
                rgba(100, 116, 108, 0.2) 0px 8px 8px,
                rgba(100, 116, 108, 0.2) 0px 16px 16px,
                rgba(100, 116, 108, 0.2) 0px 32px 32px,
                rgba(100, 116, 108, 0.2) 0px 64px 64px;
	}

	.index_img img {
	    width: 100%;

	    -moz-transform:scale(1.06);
			-webkit-transform:scale(1.06);
			-o-transform:scale(1.06);
			-ms-transform:scale(1.06);
			transform:scale(1.06);
		
		transition: all 0.2s ease;
	}
	.index_img:hover img {
	    width: 100%;
	    
	    -moz-transform:scale(1.15);
			-webkit-transform:scale(1.15);
			-o-transform:scale(1.15);
			-ms-transform:scale(1.15);
			transform:scale(1.15);

	}
	.index_img:hover .overlay {
	    opacity: 1;
	}
	.index_img:hover .overlay2 {
	    opacity: 1;
	}

	.index_img {
	    float: left;
	}

	.index_title {
		text-shadow: 0 0 .5px rgba(255,255,255,.5);
		letter-spacing: 1px;
		display: inline-block;
		z-index: 15;
		font-size: 1.2em;
		margin: 2em;
		margin-bottom: 6em;
		color: white;
	}



	h8 {
		letter-spacing: 3px;
		display: inline;
		z-index: 15;
		margin: 2.7em;
		float:right;
		color: white;
			-webkit-writing-mode: vertical-rl;
		 	 writing-mode: vertical-rl;
		
	}

	}
}












.indeximg{
	width: 50%;
	margin: 0 auto;
	padding-top: 10em;
}

@media screen and  (max-width: 766px){

	.indeximg{
		width: 100%;
		padding-top:0;
	}

	.fadedown{
		display:none;
	}
	.logomask{
		display: none;	
	}
	.fade-inout {	
		opacity: 1;
	}
	
	.image {
		width: 50%;
	}
}

.logo{
	width: 15em;
}




@media screen and ( max-width: 768px ) {
	.list_box{
		margin: 0 auto;
		margin:1em 2em 2em 2em;
		margin-right: 5em;
		z-index: 2;
		display:none;

	}

	.list_01{
		flex-wrap: nowrap;
		font-size: 1em;
		color:black;
		font-family: 'Roboto Slab', serif,'Ubuntu', sans-serif;
		padding:5px;
	}
	.hero{
		margin-top:50px;
	}
}

.mannercolor{
	width: 1em;
	height: 1em;
	background-color: #ef858c;
	display:inline-block;
}




@keyframes fadeinout { /* flame pulses */
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}