@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css)
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);



#info {
	font-family: 'Gabarito';
	letter-spacing: 0px;
	font-weight: 400;
	color:black;
	font-size: 5vh;
	position: absolute;
	top: 40vh;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
	overflow: hidden;

}